@import "normalize.css";
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

* {
  box-sizing: border-box;
  /* border: solid red 1px; */
}

.border1 {
  border: solid red 1px;
}

body {
  background-color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}

p {
  font-family: 'Playfair Display', serif;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
  text-align: center;
  font-size: 2em;
}

.cuerpo {
  padding: 50px 15px;
  margin: 0px 15px 0px 15px;
}

.color-cuerpo {
  background-color: grey;
  color: white;
}

.footer a {
  color: white;
}

.logo {
  max-width: 100px;
}

h1 {
  font-family: 'Pattaya', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

ul {
  padding: 0px;
}

li {
  margin: 10px;
  padding: 0px;
  list-style: none;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.formulario {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.texto {
  border: none;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  background: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

.registrar {
  display:block;
  text-align: center;
  padding: 5px;
  color: black;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border-style: none;
}

/* .login input { */
  /* padding: 10px;
} */

.login input:not([type='checkbox']) {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1.25em;
  margin: 5px 0px 5px 0px;
}

.centrar {
  width: 100%;
  display: block;
  text-align: center;
}

.login input[type='checkbox'] {
  text-align: center;
  margin: auto;
}

::placeholder{
  color: white;
}

.nombreUsuario {
  color: white;
}

.texto-comentario {
  color: black;
}

.comentarios {
	font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	background-color: #eaeaea;
}

div.comentarios {
	margin: 5em auto;
}

.comentarios em {
	font-size: 0.9em;
  font-style: normal;
}

ul.simple-nested li {
	margin-left: 3em;
}

div.comment {
	background: gray;
	border: 1px solid #999;
	padding: 1em;
}
